<%= form_for(@post, :html => { :multipart => true, :class => "form" }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label "Site" %>
    <%= collection_select(:post, :site_id, current_user.sites.all, :id, :name) %>
  <%= hidden_field :post, :post_type, :value => @post_type %>
    <%= f.label :title %>
    <%= f.text_field :title %>
  <% unless @post_type == "Photo" %>
	    <%= f.label @post_type == "Document" ? "Description (optional)" : "Content" %>
	    <%= f.text_area :content, :rows => 5 %>
  <% end %>
  <% unless @post_type == "News" %>
	    <%= f.label @post_type == "Document" ? "Document" : "Photo" %>
	    <%= f.file_field (@post_type == "Document" ? :document : :photo) %>
  <% end %>
  <div style="margin: 15px 0px;">
	  <label for="send_email" class="checkbox">Send Email to Members?
	    <%= check_box_tag :send_email, 1, true %>
	  </label>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
