<div class="post post_list">
    <div class="thumb">
        <% if post.post_type == "Document" %>
					<%= link_to image_tag("document.png"), post %>
				<% elsif post.post_type == "News" %>
					<%= link_to image_tag("newspaper.png"), post %>
				<% elsif post.post_type == "Photo" %>
					<%= link_to(image_tag(post.photo.url(:thumb)), post) %>
				<% end %>
    </div>
    <div class="title">
        <%= link_to raw('<h4>'+post.title+'</h4>'), post %>
    </div>
    <p class="content"><%= post.content %></p>
    <div class="tools">
        <%= link_to raw('<i class="icon-trash"></i>'), post_path(post), method: :delete, :confirm => "Are you sure?" %>
        <br>
        <%= link_to raw('<i class="icon-pencil"></i>'), edit_post_path(post) %>
    </div>
    <div style="clear: both;"></div>
</div>