<%= content_for :dashboard do %>
<div class="toolbar">
	<h3><%= @site.name %> Site Settings</h3>
</div>

<div style="padding: 20px;">
<%= render 'form' %>

<%= link_to 'Show', @site %> |
<%= link_to 'Back', dashboard_path %>
</div>
<% end  %>
