<div id="post_buttons" style="">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span8" style="background: #f1f1f1; height: 95px;">
				<ul class="middleNavR">
		      <li>
						<%= link_to raw('<i class="icon-bullhorn"></i>'), new_post_path(:post_type => "News"), :rel => 'tooltip', :title => "Post News" %>
					</li>
		      <li>
						<%= link_to raw('<i class="icon-file"></i>'), new_post_path(:post_type => "Document"), :rel => 'tooltip', :title => "Post a Document" %>
					</li>
		      <li>
						<%= link_to raw('<i class="icon-picture"></i>'), new_post_path(:post_type => "Photo"), :rel => 'tooltip', :title => "Post a Photo" %>
					</li>
		    </ul>

		    <%= form_tag dashboard_path, :method => 'get', :id => "posts_search", :class => "form-search" do %>
			    <%= text_field_tag :search, params[:search], :class => "search-query" %>
			    <%= submit_tag "Search", :name => nil, :class => "btn" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid" id="main">
	<div class="span8">
		<div id="posts">
			<% if @posts.length > 0 %>
				<%= render @posts %>
			<% else %>
				<p class="no_content">No posts to display!</p>
			<% end %>
		</div>
		<%= will_paginate @posts %>
	</div>
	<div class="span4">
		<div style="position: fixed; z-index: 1001;">
			<h3>Your Sites</h3>
			<table class="table">
				<tbody>
			<% @sites.each do |site| %>
				  <tr>
				    <td><%= link_to site.name, dashboard_path(:site => site.id ) %></td>
				    <td><%= link_to raw('<i class="icon-eye-open" rel="tooltip" title="View Site"></i>'), site %></td>
				    <td><%= link_to raw('<i class="icon-group" rel="tooltip" title="Users"></i>'), "#" %></td>
				    <td><%= link_to raw('<i class="icon-pencil" rel="tooltip" title="Edit Site"></i>'), edit_site_path(site) %></td>
				    <td><%= link_to raw('<i class="icon-trash" rel="tooltip" title="Delete Site"></i>'), site, confirm: 'Are you sure?', method: :delete, :style => "padding: 5px;" %></td>
				  </tr>
			<% end %>
				</tbody>
			</table>
			<%= link_to raw('<i class="icon-plus"></i> New Site'), new_site_path, :class => 'btn btn-primary' %>
		</div>
	</div>
</div>


